<div class="block bg-primary font-bold text-center p-4 border-round mb-3"><img src="assets/Rinicio.jpg" 
  alt="Rinicio" width="1450px" height="300px" object-fit="cover"></div>

  <nav class="navbar" style="background-color: aqua;">
    <ul style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Quienes somos</a></li>
      <li><a href="#">Reuniones</a></li>
      <li><a href="#">Cumpleaños</a></li>
      <li><a href="#">Piñatas</a></li>
      <li><a href="#">Bodas</a></li>
      <li><a href="#">Albercazo</a></li>
      <li><a href="#">Pescador(Torneo)</a></li>
      <li><a href="#" style="color:orange;" >Servicios</a></li>
      <li><a href="#" style="color:orange">Paquetes</a></li>
      <li><a href="#" style="color:orange">Promociones</a></li>
      <li><a href="#" style="color:orange">Contacto</a></li>
      <li><a href="#" style="color:orange">Cumpleaños</a></li>
    </ul>
  </nav>
  <div class="p-grid">
    <div class="p-col-6">
      <div class="box">Contenido 1</div>
    </div>
    <div class="p-col-6">
      <div class="box">Contenido 2</div>
    </div>
    <div class="p-col-4">
      <div class="box">Contenido 3</div>
    </div>
    <div class="p-col-4">
      <div class="box">Contenido 4</div>
    </div>
    <div class="p-col-4">
      <div class="box">Contenido 5</div>
    </div>
  </div>